<form action="/admin/add-client" method="post">
    <label for="business">Business:</label>
    <input type="text" id="business" name="business"><br><br>

    <label for="name">Client Name:</label>
    <input type="text" id="name" name="client-name"><br><br>

    <label for="email">Email Address:</label>
    <input type="text" id="email" name="client-email-address"><br><br>

    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="client-phone-number"><br><br>

    <input type="submit" value="Submit">
    <a href="/admin/dashboard">Cancel</a>
</form>