<form action="/admin/add-prop" method="post" class="vertical-form">
    <label for="name">Prop Name</label>
    <input type="text" name="name" id="prop-name" placeholder="Prop Name" required>
    <label for="description">Prop Description</label>
    <textarea type="text" name="description" id="prop-description" placeholder="Prop Description" rows="6"></textarea>
    <label for="quantity">Prop Quantity</label>
    <input type="number" name="quantity" id="prop-quantity" placeholder="1" min="0" required>

    <input type="submit" class="button" value="Add Prop">
</form>