<form action="/admin/add-prop" method="post">
    <label for="name">Prop Name</label>
    <input type="text" name="name" id="prop-name">
    <label for="description">Prop Description</label>
    <input type="text" name="description" id="prop-description">
    <label for="quantity">Prop Quantity</label>
    <input type="number" name="quantity" id="prop-quantity">

    <input type="submit" value="submit">
</form>