<!-- General Settings Form -->
<form id="generalSettingsForm" class="config-form" action="/admin/config" method="post">
    <fieldset class="config-fieldset">
        <legend class="config-legend">General Settings</legend>

        <label class="config-label" for="site-message">Site Message</label>
        <input type="text" name="site-message" id="site-message" class="config-input">

        <label class="config-label" for="company-address">Company Address</label>
        <input type="text" name="company-address" id="company-address" class="config-input">

        <label class="config-label" for="company-email">Company Email</label>
        <input type="text" name="company-email" id="company-email" class="config-input">

        <label class="config-label" for="company-phone">Company Phone</label>
        <input type="text" name="company-phone" id="company-phone" class="config-input">
    </fieldset>

    <p class="config-p" style="color: Red; font-size: 0.9em;">Note: Fill out all the fields in the general setting.</p>

    <input type="submit" class="config-button" disabled>
</form>

<!-- Visual Customization Form -->
<form id="visualCustomizationForm" class="config-form" action="/admin/config/visual" method="post" enctype="multipart/form-data">
    <fieldset class="config-fieldset">
        <legend class="config-legend">Visual Customization</legend>
        {{!-- <label class="config-label" for="main-color">Main Color</label>
        <input type="color" name="main-color" id="main-color" class="config-input">

        <label class="config-label" for="background-color">Background Color</label>
        <input type="color" name="background-color" id="background-color" class="config-input">

        <label class="config-label" for="accent-color">Accent Color</label>
        <input type="color" name="accent-color" id="accent-color" class="config-input"> --}}
        
        <label for="landing-visual" class="config-label">Landing Page Visual</label>
        <input type="file" accept=".png, .jpg, .jpeg, .mp4, .mov, .flv" size="1000000" name="landing" id="landing-visual">
        
        <label for="logo" class="config-label">Logo</label>
        <input type="file" accept=".png, .jpg, .jpeg" size="500000" name="logo" id="logo">

    </fieldset>

    <input type="submit" class="config-button">
</form>

<form action="/update-deposit-percentage" method="post" class="config-form">
    <fieldset class="config-fieldset">
        <legend>Payment Settings</legend>
        <label for="" class="config-label">Deposit percentage</label>
        <input type="number" step="0.01" name="depositPercentage" class="config-input"> % of total price
        {{!-- <p>Concerning payments</p> --}}
    </fieldset>
    <input type="submit" value="Submit" class="config-button">
</form>

<form action="" method="post" class="config-form">
    <fieldset class="config-fieldset">
        <legend>Notification Settings</legend>
        <p>Concerning emails and text messages</p>
    </fieldset>
    <input type="submit" value="Submit" class="config-button">
</form>

<form action="" method="post" class="config-form">
    <fieldset class="config-fieldset">
        <legend>Privacy and Legal Settings</legend>
        <p>Concerning privacy and legal issues</p>
    </fieldset>
    <input type="submit" value="Submit" class="config-button">
</form>

<script>

document.addEventListener("DOMContentLoaded", function() {
    
    // General settings form
    const requiredFields = [
        document.getElementById('site-message'),
        document.getElementById('company-address'),
        document.getElementById('company-email'),
        document.getElementById('company-phone')
    ];
    
    const generalSettingsForm = document.getElementById('generalSettingsForm');
    const submitButton = generalSettingsForm.querySelector('.config-button');

    function checkRequiredFields() {
        for(let field of requiredFields) {
            if (!field.value.trim()) {
                submitButton.disabled = true;
                return; 
            }
        }
        submitButton.disabled = false; 
    }

    for(let field of requiredFields) {
        field.addEventListener('input', checkRequiredFields);
    }
    checkRequiredFields();

    // Color settings form (Not functional yet --- more work in-progress)
    const mainColorInput = document.getElementById('main-color');
    const backgroundColorInput = document.getElementById('background-color');
    const accentColorInput = document.getElementById('accent-color');

    function updateWebsiteColors() {
        document.documentElement.style.setProperty('--main-color', mainColorInput.value);
        document.documentElement.style.setProperty('--background-color', backgroundColorInput.value);
        document.documentElement.style.setProperty('--accent-color', accentColorInput.value);
    }

    mainColorInput.addEventListener('input', updateWebsiteColors);
    backgroundColorInput.addEventListener('input', updateWebsiteColors);
    accentColorInput.addEventListener('input', updateWebsiteColors);

    updateWebsiteColors();

});

</script>
