<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 37</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-200">
<header class="bg-white">
    <nav class="mx-auto flex flex-row justify-between p-5">
        <div><a href="/">Logo</a></div>
        <div class="flex flex-row-reverse space-x-5 space-x-reverse">
            <a href="" class="">Home</a>
            <a href="" class="">About</a>
            <a href="" class="">Shop</a>
            <a href="" class="">Contact</a>
        </div>
        <div class="flex flex-row space-x-5">
            <a href="" class="">Sign Up</a>
            <a href="" class="">Log In</a>
        </div>
    </nav>
</header>

<main>
    <p>this is in the dashboard</p>
</main>

<footer class="bg-white">
    <div class="flex flex-row justify-around justify-items-center p-10">
        <div class="flex flex-col justify-around">
            <p>A logo will go here</p>
        </div>
        <div class="flex flex-col space-y-5 justify-center">
                <a href="" class="">Home</a>
                <a href="" class="">About</a>
                <a href="" class="">Shop</a>
                <a href="" class="">Contact</a>
        </div>
    </div>
    </footer>
</body>
</html>