<div class="error-circle">
    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="red" class="bi bi-exclamation-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path
            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
    </svg>
</div>


{{#if blacklisted}}
<div class="error">
    <h1>{{message}}</h1>
    {{#if admin_user}}
    <a href="/admin/dashboard" class="button">To Dashboard</a>
    {{/if}}
    <a href="/" class="button">To Store</a>
</div>
{{/if}}

{{#if admin}}
<div class="error">
    <h1>{{message}}</h1>
    {{#if admin_user}}
    <a href="/admin/dashboard" class="button">To Dashboard</a>
    {{/if}}
    <a href="/" class="button">To Store</a>
    <a href="/accounts/login" class="button"> Go to login</a>
</div>
{{/if}}

{{#if auth}}
<div class="error">
    <h1>{{message}}</h1>
    {{#if admin_user}}
    <a href="/admin/dashboard" class="button">To Dashboard</a>
    {{/if}}
    <a href="/" class="button">To Store</a>
    <a href="/accounts/login" class="button">Go to login</a>
</div>
{{/if}}

{{#if error}}
<div class="error">
    <h1>{{message}}</h1>
    {{#if admin_user}}
    <a href="/admin/dashboard" class="button">To Dashboard</a>
    {{/if}}
    <a href="/" class="button">To Store</a>
</div>
{{/if}}