<h1 class="title-text">Login</h1>
<div>
    <form action="/accounts/login" method="post" class="auth-form" id="login-form">
        <input type="hidden" name="cart" id="cart">

        <label for="email">Enter your email address</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Enter your password</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Login" class="button">
        <small>New here? <a href="/accounts/register" style="text-decoration: underline;">Register</a></small>
    </form>

</div>

<script>
    document.getElementById("login-form").addEventListener("submit", (e) =>{
        if (localStorage.getItem("cart")){
            //get the values from the user's cart and add them to the form that will be submitted.
            document.getElementById("cart").value = localStorage.getItem("cart");
        }else{
            // if there is no cart....what do we do?
        }
    });
</script>