:root {
    --background-color: rgb(231 237 242);
    --alternate-color: rgb(187 194 200);
    --font-color: white;
    --border-radius: 0.5em;
}

.html {
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
}

input:focus,
textarea:focus {
    outline: none;
}

a:visited {
    color: initial;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: initial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: var(--alternate-color);
    border-radius: var(--border-radius);
}

.navbar-actions {}

.navbar-links {}

.nav-link {
    margin: 0 1em;
}

.navbar-account-actions {}

.footer {
    display: flex;
    padding: 4em;
    justify-content: space-around;
    background-color: var(--alternate-color);
    align-items: center;
    border-radius: var(--border-radius);
}


.footer-logo {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link {
    margin: 1em 0;
}

/* Dashboard Styles */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1.8fr 1.5fr;
    grid-template-rows: 0.5fr repeat(2, 1fr);
    gap: 1em;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar dashboard-header dashboard-header dashboard-header"
        "sidebar clients props props"
        "sidebar clients props props";
    margin: 1em 0;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    background-color: var(--alternate-color);
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-header {
    background-color: var(--alternate-color);
    grid-area: dashboard-header;
    padding: 2em;
    border-radius: var(--border-radius);
}

.clients {
    grid-area: clients;
    padding: 2em;
    border-radius: var(--border-radius);
    background-color: var(--alternate-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.props {
    grid-area: props;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--alternate-color);
    flex-direction: column;
    /* height: 90%; */
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0;
}

.search-label {
    display: block;
    width: 100%;
    text-align: left;
}

.item-search-box {
    padding: 0.5em;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    width: -webkit-fill-available;
}


.item-search-button {
    padding: 0.5em;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.item-toolbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    align-items: center;
}

.item-area {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
}

.store-prop {
    grid-area: props;
    padding: 2em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--alternate-color);
    flex-direction: column;
    flex-flow: column wrap;
}