/** These are variables that will be used throughout the styles */
:root {
    --background-color: rgb(254, 255, 255);
    --alternate-color: rgb(254, 255, 255);
    --font-color: white;
    --border-radius: 0.5em;
    --box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track (the area on the sides of the scrollbar) */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49);
    border-radius: var(--border-radius);
}

/* On hover, make the scrollbar handle a lighter color */
::-webkit-scrollbar-thumb:hover {
    background: #242323;
}

.html {
    margin: 0;
}

body {
    /* background-color: var(--background-color); */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
    margin: 2em;
}

input:focus, textarea:focus {
    outline: none;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: initial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--alternate-color);
    border-radius: var(--border-radius);
    align-items: center;
}

.active {
    background-color: #242323;
    color: #ffffff;
    border-radius: var(--border-radius);
}

.logo {

    height: 52px;
}

.navbar-actions {

}

.navbar-links {

}

.nav-link {
    margin: 0 0.25em;
    padding: 0.75em;
}

.navbar-account-actions {

}

.footer {
    display: flex;
    padding: 4em;
    justify-content: space-around;
    background-color: var(--alternate-color);
    align-items: center;
    border-radius: var(--border-radius);
}


.footer-logo {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link {
    margin: 1em 0;
}

.container {
    box-shadow: var(--box-shadow);
}

/* Dashboard Styles */
.dashboard {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr repeat(5, 1fr);
    gap: 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar dashboard-header dashboard-header"
      "sidebar clients props"
      "sidebar clients props"
      "sidebar clients props"
      "sidebar clients props"
      "sidebar clients props";
    margin: 1em 0;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    background-color: var(--alternate-color);
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1em;
}

.dashboard-header {
    background-color: var(--alternate-color);
    grid-area: dashboard-header;
    gap: 2em;
    padding: 1em;
    display: flex;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.clients, .props {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--alternate-color);
    flex-direction: column;
    gap: 1em;
}

.clients {
    grid-area: clients;

}

.props {
    grid-area: props;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 0.75em 0;
}

.search-label {
    display: block;
    width: 100%;
    text-align: left;
}

.item-search-box {
    padding: 0.75em;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border: none;
    width: -webkit-fill-available;
    /* This forces the search box to fill up all available space */
}


.item-search-button {
    padding: 0.75em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

.item-toolbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    align-items: center;
}

.item-area {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 40rem;
    padding: 1em;
}


.button {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

.vertical-form {
    margin: 1em 0;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

textarea, input {
    padding: 1em;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font: inherit;
}

.prop {
    background: white;
    padding: 0.5em;
    border-radius: var(--border-radius);
    margin: 0.25em 0;
}

.inner-item-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-info {
}

/* This selects p tags within the item-info class */
.item-info > p {
    margin: 0.5rem 0;
}

.item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header-info {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.75em;
    text-align: center;
}

.client {
    background: white;
    padding: 0.75em;
    border-radius: var(--border-radius);
    margin: 0.5em 0;
}

.store-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35em, 1fr));
    gap: 2em;
    border-radius: var(--border-radius);
    margin: 2.5em 0;
}

.store-card {
    padding: 2em;
    border-radius: var(--border-radius);

}

.title-text {
    font-size: 5rem;
    text-align: center;
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
    font-weight: normal;
}

.subtitle-text {
    font-size: 1em;
    text-align: center;
    color: dimgray;
}

.title-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar-action {
    padding: 1em;
    border-radius: var(--border-radius);
}

.text-svg-link {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.store-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: var(--border-radius);
}

.store-categories{
    display: flex;
    gap: 1em;
}

.store-actions{
    display: flex;
    gap: 1.5em;
}

.bi-cart, .bi-heart{
    height: 2rem;
    width: 2rem;
}