/** These are variables that will be used throughout the styles */
:root {
    --background-color: rgb(254, 255, 255);
    --alternate-color: rgb(254, 255, 255);
    --font-color: white;
    --border-radius: 0.5em;
    --box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track (the area on the sides of the scrollbar) */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49);
    border-radius: var(--border-radius);
}

/* On hover, make the scrollbar handle a lighter color */
::-webkit-scrollbar-thumb:hover {
    background: #242323;
}

body {
    /* background-color: var(--background-color); /* config page changes */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    margin: 2em;
}

.main-theme {
    color: var(--main-color);
}

.accent-theme {
    border-color: var(--accent-color);
}

input:focus,
textarea:focus {
    outline: none;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: initial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--alternate-color);
    border-radius: var(--border-radius);
    align-items: center;
}

.active {
    background-color: #242323;
    color: #ffffff;
    border-radius: var(--border-radius);
}

.logo {

    height: 52px;
}

.nav-link {
    margin: 0 0.25em;
    padding: 0.75em;
}

.footer {
    display: flex;
    padding: 4em;
    justify-content: space-around;
    background-color: var(--alternate-color);
    align-items: center;
    border-radius: var(--border-radius);
}


.footer-logo {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link {
    margin: 1em 0;
}

.container {
    box-shadow: var(--box-shadow);
}

/* Dashboard Styles */
.dashboard {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr repeat(5, 1fr);
    gap: 1em;
    grid-auto-flow: row;
    /* this creates a grid and defines spaces for the names used in the text */
    grid-template-areas:
        "sidebar dashboard-header dashboard-header"
        "sidebar clients props"
        "sidebar clients props"
        "sidebar clients props"
        "sidebar clients props"
        "sidebar clients props";
    margin: 1em 0;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    background-color: var(--alternate-color);
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1em;
    gap: 2em;
}

.dashboard-header {
    background-color: var(--alternate-color);
    grid-area: dashboard-header;
    gap: 2em;
    padding: 1em;
    display: flex;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.clients,
.props {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--alternate-color);
    flex-direction: column;
    gap: 1em;
}

.clients {
    grid-area: clients;

}

.props {
    grid-area: props;
}

.users-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 0.75em 0;
}

.props-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 0.75em 0;
}

.search-label {
    display: block;
    width: 100%;
    text-align: left;
}

.item-search-box {
    padding: 0.75em;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border: none;
    width: -webkit-fill-available;
    /* This forces the search box to fill up all available space */
    /* This probably should not be used */
}


.item-search-button {
    padding: 0.75em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

.item-toolbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    align-items: center;
}

.users-item-area{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 40rem;
    padding: 1em;
}

.props-item-area{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 40rem;
    padding: 1em;
}

.button {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 250ms;
}

.button:hover{
    background-color: #EEE;
}

.button:active{
    transform: scale(0.9, 0.9);
    box-shadow: 0px 0px 10px 5px #007BFF;
}

.vertical-form {
    margin: 1em 0;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

textarea,
input {
    padding: 1em;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font: inherit;
}

.prop {
    background: white;
    padding: 0.5em;
    border-radius: var(--border-radius);
    margin: 0.25em 0;
}

.inner-item-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* This selects p tags within the item-info class */
.item-info > p {
    margin: 0.5rem 0;
}

.item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.header-info {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.75em;
    text-align: center;
}

.client {
    background: white;
    padding: 0.75em;
    border-radius: var(--border-radius);
    margin: 0.5em 0;
}

.store-inner {
    display: grid;
    /* This makes a repeating grid that auto fills its container. With a minimum with of 35em and a max width of 1 fractional unit of the available space. */
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 2em;
    border-radius: var(--border-radius);
    margin: 2em 0;
    justify-items: center;
}

.store-card {
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.store-item-image{
    height: 22rem;
    width: 100%;
    object-fit: fill;
    min-height: 22rem;
}

.store-item-info{
    padding: 1em;
}

.title-text {
    font-size: 5rem;
    text-align: center;
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
    font-weight: normal;
}

.head-text {
    text-align: initial;
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
    font-weight: normal;
    font-size: xx-large;
}

.subtitle-text {
    font-size: 1em;
    text-align: center;
    color: dimgray;
}

.title-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar-action {
    padding: 1em;
    border-radius: var(--border-radius);
}

.text-svg-link {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.store-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: var(--border-radius);
}

.store-categories {
    display: flex;
    gap: 1em;
}

.store-actions {
    display: flex;
    gap: 1.5em;
}

.bi-cart, .bi-heart {
    height: 2rem;
    width: 2rem;
}

.contact-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    border-radius: var(--border-radius);
    margin: 2.5em 0;
}

.contact-card {
    padding: 2em;
    border-radius: var(--border-radius);
    text-align: center;
    justify-content: center;
}

.sep-line {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    margin: 3em 0;
}

ul, ol {
    list-style: none;
}

.password-rules {
    padding-inline-start: 0;
}

.password-rules > li {
    margin: 0.5em 0;
}

.alert {
    padding: 1em;
    margin-top: 2em;
    opacity: 1;
    border: none;
    border-radius: var(--border-radius);
    transition: opacity 0.6s ease-in-out;
}

.alert-danger {
    background-color: rgba(230, 0, 0, 0.85);
    color: white;
    font-weight: bold;
}

.alert-success {
    background-color: rgba(34, 170, 0, 0.85);
    color: white;
    font-weight: bold;
}

.alert-box {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    border-radius: var(--border-radius);
    margin: 2.5em 0;
}

.contact-card {
    padding: 2em;
    border-radius: var(--border-radius);
    text-align: center;
    justify-content: center;
}

.sep-line {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-text-sm {
    font-size: 2em;
    text-align: center;
}

.account-update {
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.password-update {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-bottom: 2em;
    border-radius: var(--border-radius);
    width: 20%;
}

.password-update > form {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    align-items: center;
}


.user-card {
    padding: 1.5em;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    border-radius: var(--border-radius);
    margin-bottom: 2em;
    transition: all ease-in-out 250ms;
    width: 20%;
}

.user-card:hover {
    /* Testing basic hover animations. */
    background-color: rgba(169, 249, 149, 0.572);
    /* transform: translateY(2em) translateX(3em); */
}

.p-flex {
    display: flex;
    justify-content: space-between;
    gap: 0.75em;
    align-items: center;
}

#update-fname-form,
#update-lname-form,
#update-email-form,
#update-phone-form {
    display: none;
    justify-content: space-between;
}

.user-orders {
    padding: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    width: 20%;
}

.load-more-container{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prop-container {
    display: flex;
    padding: 5rem;
    align-items: start;
    gap: 5rem;
}

.prop-image {
    width: 50%;
    position: relative;
    text-align: center;
    height: 30rem;
    flex: 4;
}

.prop-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    align-content: center;
}

h1, button {
    margin: 0; 
}

/* Cart Icon */

.cart-icon {
    display: inline-block;
    width: 40px;   
    height: 40px;  
    background-image: url('/images/cart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: middle; 
}

.cart-link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none; 
}

/* Add to cart button inside the prop page */

.addToCartBtn {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 8px 12px; 
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; 
}

.addToCartBtn:hover {
    background-color: #45a049; 
}


.model-toggle-note {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 33.33%; */
    /* transform: translateX(-50%); */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
}

.clickable{
    cursor: pointer;
}

/* Cart page "Add to cart" styling */

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    padding: 0;
}

h1 {
    margin-top: 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.main-container { /* Cart page - main container */
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 50px auto;
    gap: 30px; 
    max-width: 1200px; 
}

.cart-container { /* Cart page - My cart container */
    flex: 3; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    
}

.cart-items-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fdfdfd;
    transition: background-color 0.3s ease;
}

.cart-item:hover {
    background-color: #f0f0f0;
}

.cart-item span {
    margin: 5px 0;
    display: block; 
}

.prop-name {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;  
}

.prop-description {
    font-size: 1em;
    color: #777;
}

.navbar-account-actions{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

model-viewer{
    display: block;
    position: relative;
    width: 100%;
    height: 30rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.model-toggle-note{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
}

.cart-svg{
    display: flex;
    align-items: center;
}


.checkout-container { /* Cart page - checkout container */
    flex: 1; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.checkout-container label {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.checkout-container input[type="date"] {
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.checkout-container p {
    background-color: #f7f7f7; 
    padding: 10px;
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.checkout-container span {
    font-weight: bold; 
}

.checkout-container .checkout-button {
    padding: 10px 20px;
    font-size: 16px; 
    color: white;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.checkout-container .checkout-button:hover {
    background-color: #0056b3; 
}

.order-items{
    padding: 1em;

}

.order{
    border-radius: var(--border-radius);
    padding: 1rem;margin-bottom: 2rem;
}

.order-item{
    padding: 0.5rem;
    margin: 0.75rem 0;
    border-radius: var(--border-radius);
}

/* Style for the Stripe card element container */
.checkout-container #card-element {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    width: calc(100% - 22px); 
    box-sizing: border-box; 
}

#card-errors {
    color: #fa755a;  
    margin-bottom: 15px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

